html {
  box-sizing: border-box;
  font-size: 16px;
}

body{
  font-family: $ff-main;
  font-size: 1rem;
  line-height: 1.2;
}

*,*:before,*:after{
  box-sizing: inherit;
}

ol,ul {
  list-style-type: none;
}

.clearfix{
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}