footer.page-footer
  .page-footer__wrapper
    .page-footer__contacts.contacts
      b.contacts__title Барбершоп "Бородинский"
      p.contacts__text г.Санкт-Петербург, ул. Большая Конюшенная 19/8
        br
        a.contscts__phone(href="tel:+78125556666")
          span.contacts__phone-mobile Тел:
          | +7 (812) 555-66-66
    .page-footer__social.social
      b.social__title Давайте дружить!
      ul.social__list
        li.social__item
          a.social__link.social__link--vkontakte(href="https://vk.com") Мы в Контакте
        li.social__item
          a.social__link.social__link--facebook(href="https://www.facebook.com") Мы в фейсбуке
        li.social__item
          a.social__link.social__link--instagram(href="https://www.instagram.com") Мы в Инстаграме
    .page-footer__copyright.copyright
      b.copyright__text Разработано:
      a.copyright__ling.button(href="#") HTML Academy
