main.page-main
  h1.vissualy-hidden Барбершоп "Бародинский" истинно мужская классика
  include main-sections/stats
  include main-sections/advantagers
  include main-sections/news
  include main-sections/reviews
